@use "globals" as *;

// reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
}

body {
  background-color: $color-white-1;
  position: relative;
}

img.img-circle-pink {
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
}

img.img-decore {
  position: absolute;
  z-index: -10;
  top: 0;
  right: 0;
}

// container
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  position: relative;
  padding-top: 4.7rem;
}

// error
span.error {
  display: block;
  font-family: $font-quaternary;
  font-weight: 400;
  font-size: 1.4rem;
  color: $color-error-1;
  margin: 1.1rem 0 0 3rem;
}

input:focus:invalid {
  border: 1px solid $color-error-1 !important;
}

@media only screen and (max-width: $bp-medium) {
  body {
    width: 100%;
  }

  img.img-decore {
    width: 80%;
  }

  .container {
    padding: 1rem;
  }
}
