// colors
$color-primary-1: #f1a501;
$color-primary-2: #f1a50126;

$color-secondary-1: #df6951;
$color-secondary-2: #ff946d;
$color-secondary-3: #ff7d68;
$color-secondary-4: #df69514d;

$color-tertiary-1: #8a79df;
$color-tertiary-2: #dfd7f9;

$color-error-1: #ff0000;

$color-white-1: #ffffff;

$color-white-tr-1: rgba(255, 255, 255, 0.95);

$color-dark-1: #212832;
$color-dark-2: #181e4b;
$color-dark-3: #14183e;
$color-dark-4: #5e6282;
$color-dark-5: #686d77;
$color-dark-6: #080809;
$color-dark-7: #84829a;
$color-dark-8: #f5f5f5;

$color-shadow-1: rgba(0, 0, 0, 0.3);
