$container-width: 116rem;

// responsive breakouts
$bp-ultra-large: 1400px;
$bp-largest: 1200px;
$bp-large: 1000px;
$bp-medium: 800px;
$bp-small: 600px;

// margin-bottom
.mb-06 {
  margin-bottom: 0.6rem;
}

.mb-10 {
  margin-bottom: 1rem;
}

.mb-13 {
  margin-bottom: 1.3rem;
}

.mb-14 {
  margin-bottom: 1.4rem;
}

.mb-19 {
  margin-bottom: 1.9rem;
}

.mb-21 {
  margin-bottom: 2.1rem;
}

.mb-24 {
  margin-bottom: 2.4rem;
}

.mb-30 {
  margin-bottom: 3rem;
}

.mb-34 {
  margin-bottom: 3.4rem;
}

.mb-40 {
  margin-bottom: 4rem;
}

.mb-50 {
  margin-bottom: 5rem;
}
